
@model Activity;

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img src="@Model.ImageURl" alt="">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Teacher @Model.PhoneNumber</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>

        <h4>@Model.ShortDescription</h4>
        <h4>@Model.LongDescription</h4>
    </div>
</div>

